
body {
  height: 100vh;
  margin: 0;
  padding: 0 50px;
  font-family: sans-serif;
}

#container {
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}

.row div {
  height: calc((100vw - 100px) / 180);
  width: calc((100vw - 100px) / 180);
  /*width: 100vw;*/
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.ant {
  background-color: #DB162F !important;
}
